/* styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.fade-enter {
    opacity: 0;
  }
  .fade-enter-active {
    opacity: 1;
    transition: opacity 300ms ease-in;
  }
  .fade-exit {
    opacity: 1;
  }
  .fade-exit-active {
    opacity: 0;
    transition: opacity 300ms ease-in;
  } 

  html {
    scroll-behavior: smooth;
  }

  /* Add styles for Swiper buttons */
.swiper-button-prev, .swiper-button-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  cursor: pointer;
}

.swiper-button-prev {
  left: 10px; /* Adjust position */
}

.swiper-button-next {
  right: 10px; /* Adjust position */
}


 
  



 
 